<!DOCTYPE html>
<html lang="en" data-theme="lifeplan">
<head>
  <%- include('../../partials/head'); %>
</head>
<body>

  <%- include('../../partials/header-login.ejs', {user: user}) %>

  <main>
    <div class="hero min-h-[calc(100vh-4rem)] bg-gradient-to-r from-primary to-secondary">
      <div class="hero-overlay opacity-25 bg-center bg-cover bg-fixed" style="background-image: url(/images/planning-bg.png);"></div>
      
      <% if (user.role==='free' ) { %>
        <div class="hero-content flex-col px-12 py-16 pt-28">
      <% } else { %>
        <div class="hero-content flex-col px-12 py-16">
      <% } %>

        <% if (user.role==='free' ) { %>
          <div class="absolute left-0 w-1/6 top-auto bg-white text-center p-2">
            <%- include('../../partials/ads/side-3.ejs') %>
          </div>

          <div class="absolute right-0 w-1/5 top-auto">
            <%- include('../../partials/ads/side.ejs') %>
          </div>

          <div class="absolute top-20">
            <%- include('../../partials/ads/top.ejs') %>
          </div>
        <% } %>
        
        <div class="card shrink-0 shadow-2xl bg-white">
          <% if (flash) { %>
            <%- include('../../partials/flash.ejs', {flash: flash}) %>
          <% } %>
          <form class="card-body py-6 w-[38rem]" method="post">
            <h2 class="text-2xl text-center col-span-2 pb-2">Edit Plan</h2>
            <div class="grid grid-cols-2 gap-6">
              <div class="grid gap-3 w-64">
                <!-- Title -->
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Title</span>
                  </label>
                  <input name="title" type="text" placeholder="Plan Title" class="input input-bordered" value="<%= plan.title %>" required />
                </div>
                <!-- Description -->
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Description</span>
                  </label>
                  <textarea name="description" placeholder="Plan Description" class="textarea textarea-bordered"><%= plan.description ? plan.description : "" %></textarea>
                </div>
                <!-- Duration -->
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Duration</span>
                  </label>
                  <div class="flex grid-cols-2 shrink">
                    <input name="duration-hour" type="number" placeholder="2" min="0" max="23" class="input input-bordered w-14 px-2" value="<%= plan.duration_hour %>" required />
                    <label class="label">
                      <span class="label-text">hours</span>
                    </label>
                    <input name="duration-minute" type="number" placeholder="30" min="0" max="45" step="15" class="input input-bordered w-14 px-2" value="<%= plan.duration_minute %>" required />
                    <label class="label">
                      <span class="label-text">minutes</span>
                    </label>
                  </div>
                </div>
                <!-- Deadline -->
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Deadline</span>
                  </label>
                  <input name="deadline" type="datetime-local" class="input input-bordered" value="<%= plan.deadline_formatted %>" required />
                </div>
              </div>

              <div class="grid gap-3">
                <!-- Impact on life -->
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Impact on your life</span>
                  </label>
                  <input name="life-impact" type="range" min="1" max="5" value="<%= plan.life_impact %>" class="range range-primary" step="1" required />
                  <div class="w-full flex justify-between text-xs px-2">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                  </div>
                </div>
                <!-- Impact on people -->
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Impact on other people</span>
                  </label>
                  <input name="people-impact" type="range" min="1" max="5" value="<%= plan.people_impact %>" class="range range-primary" step="1" required />
                  <div class="w-full flex justify-between text-xs px-2">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                  </div>
                </div>
                <!-- Impact on activity -->
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Impact on other activity</span>
                  </label>
                  <input name="activity-impact" type="range" min="1" max="5" value="<%= plan.activity_impact %>" class="range range-primary" step="1" required />
                  <div class="w-full flex justify-between text-xs px-2">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                  </div>
                </div>
                <!-- Difficulty -->
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Difficulty</span>
                  </label>
                  <input name="difficulty" type="range" min="1" max="5" value="<%= plan.difficulty %>" class="range range-primary" step="1" required />
                  <div class="w-full flex justify-between text-xs px-2">
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                    <span>4</span>
                    <span>5</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-control mt-6 flex-row gap-2">
              <a href="javascript:history.back()" class="btn btn-secondary">
                <svg height="24"
                  id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="24"
                  xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <polygon points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 " />
                </svg>
              </a>

              <button type="submit" class="btn btn-primary grow">Edit</button>

              <div>
                <a class="btn btn-error" onclick="deleteModal.showModal()">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24" class="fill-white">
                    <path
                      d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z">
                    </path>
                  </svg>
                </a>
                <dialog id="deleteModal" class="modal">
                  <div class="modal-box w-1/4">
                    <h3 class="font-bold text-lg">Delete Confirmation</h3>
                    <p class="py-4">Are you sure you want to delete this plan?</p>
                    <div class="modal-action">
                      <form method="dialog">
                        <a onclick="confirmButton()" class="btn btn-error">Yes</a>
                        <a onclick="deleteModal.close()" class="btn btn-primary">No</a>
                      </form>
                    </div>
                  </div>
                  <form method="dialog" class="modal-backdrop">
                    <a onclick="deleteModal.close()">close</a>
                  </form>
                </dialog>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  
  <footer>
    <%- include('../../partials/footer.ejs') %>
  </footer>

  <script>
    function confirmButton() {
      window.location.href = "/dashboard/plan/<%= plan.id %>/delete"
    }
  </script>
</body>
</html>