<!DOCTYPE html>
<html lang="en" data-theme="lifeplan">
<head>
  <%- include('../../partials/head'); %>
</head>
<body>

  <%- include('../../partials/header-login.ejs', {user: user}) %>

  <main>
    <div class="hero min-h-[calc(100vh-4rem)] bg-gradient-to-r from-primary to-secondary">
      <div class="hero-overlay opacity-25 bg-center bg-cover bg-fixed" style="background-image: url(/images/planning-bg.png);"></div>
      <div class="hero-content flex-row px-12 py-16">
        <div class="card shrink-0 shadow-2xl bg-white">
          <div class="card-body py-6">
            <h2 class="text-2xl text-center col-span-2">Plan History</h2>
            <div class="flex">
              <% if (plansGroupByDate.length===0) { %>
                <h2 class="text-xl text-center">Click <a href="/dashboard/plan" class="font-semibold">Start Planning</a> to start making a plan</h2>
              <% } else { %>
                <ul class="menu w-80">
                  <% 
                    let pi = 0
                    plansGroupByDate.forEach(pDate => { 
                  %>
                    <h2 class="menu-title"><%= pDate.dateFormatted %></h2>
                    <ul>
                      <% pDate.plans.forEach(plan => { %>
                        <li class="menu-item">
                          <a href="/dashboard/plan/<%= plan.id %>" class="menu-link"><%= plan.title %></a>
                        </li>
                      <% }) %>
                    </ul>
                  <% }) %>
                </ul>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <footer>
    <%- include('../../partials/footer.ejs') %>
  </footer>
</body>
</html>