<!DOCTYPE html>
<html lang="en" data-theme="lifeplan">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

  <%- include('../partials/header-login.ejs', {user: user}) %>

  <main>
    <% if (flash) { %>
      <%- include('../partials/flash.ejs', {flash: flash}) %>
    <% } %>

    <!-- Hero -->
    <div class="bg-primary">
      <% if (user) { %>
        <h1 class="pt-16">
          hello <%= user.name %>
        </h1>
      <% } %>
    </div>
  </main>
  
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</body>
</html>